<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb
        [title]="'Agregar Empleado'"
        [items]="['Empleados']"
        [active_item]="'Agregar Empleado'">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Agregar Empleado</h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="empleadoForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <!-- Nombre -->
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre" required />
                    <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>face</mat-icon>
                    <mat-error *ngIf="empleadoForm.get('nombre')?.hasError('required')">
                      El nombre es obligatorio
                    </mat-error>
                  </mat-form-field>
                </div>
                <!-- Cédula -->
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Cédula</mat-label>
                    <input
                      matInput
                      formControlName="cedula"
                      maxlength="9"
                      (input)="onCedulaInput($event)"
                      required />
                      <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>badge</mat-icon>
                    <mat-error *ngIf="empleadoForm.get('cedula')?.hasError('required')">
                      La cédula es obligatoria
                    </mat-error>
                    <mat-error *ngIf="empleadoForm.get('cedula')?.hasError('pattern')">
                      Debe contener solo dígitos (hasta 9)
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <!-- Correo -->
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Correo</mat-label>
                    <input matInput formControlName="correo" required />
                    <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>email</mat-icon>
                    <mat-error *ngIf="empleadoForm.get('correo')?.hasError('required')">
                      El correo es obligatorio
                    </mat-error>
                    <mat-error *ngIf="empleadoForm.get('correo')?.hasError('email')">
                      Formato de correo inválido
                    </mat-error>
                  </mat-form-field>
                </div>
                <!-- Salario Base -->
                 <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Salario Base</mat-label>
                    <input matInput formControlName="salarioBase" type="number" required />
                    <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>attach_money</mat-icon>
                    <mat-error *ngIf="empleadoForm.get('salarioBase')?.hasError('required')">
                      El salario base es obligatorio
                    </mat-error>
                    <mat-error *ngIf="empleadoForm.get('salarioBase')?.hasError('min')">
                      El salario base debe ser mayor a 1000
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            <div class="row">
                <!-- Estado -->
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="activo">
                    <mat-option [value]="true">Activo</mat-option>
                    <mat-option [value]="false">Inactivo</mat-option>
                    </mat-select>
                </mat-form-field>
                </div>
            </div>

              <!-- Botones -->
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button
                    mat-flat-button
                    color="accent"
                    class="btn-space"
                    [disabled]="empleadoForm.invalid">
                    Guardar
                  </button>
                  <button type="button" mat-flat-button class="formCancelBtn" routerLink="/admin/empleados/allEmpleados">
                    Cancelar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
