<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb
        [title]="'Agregar Empleado'"
        [items]="['Employees']"
        [active_item]="'Add Employee'">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Agregar Usuario Interno</h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="docForm" (ngSubmit)="onSubmit()">

              <!-- Usuario -->
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Nombre de usuario</mat-label>
                    <input matInput formControlName="username" required />
                    <mat-error *ngIf="docForm.get('username')?.hasError('required')">
                      Nombre de usuario es requerido
                    </mat-error>
                    <mat-error *ngIf="docForm.get('username')?.hasError('minlength')">
                      Mínimo 3 caracteres
                    </mat-error>
                    <mat-error *ngIf="docForm.get('username')?.hasError('maxlength')">
                      Máximo 50 caracteres
                    </mat-error>
                    <mat-error *ngIf="docForm.get('username')?.hasError('pattern')">
                      Solo letras permitidas
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <!-- Rol y Email -->
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Rol</mat-label>
                    <mat-select formControlName="roleId">
                      <mat-option [value]="null" disabled>Seleccione un rol</mat-option>
                      <mat-option *ngFor="let rol of roles" [value]="rol.id">
                        {{ rol.nombre }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="docForm.get('roleId')?.hasError('required')">
                      El rol es obligatorio
                    </mat-error>
                    <mat-error *ngIf="docForm.get('roleId')?.hasError('min')">
                      Debe seleccionar un rol válido
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required />
                    <mat-error *ngIf="docForm.get('email')?.hasError('required')">
                      El correo es obligatorio
                    </mat-error>
                    <mat-error *ngIf="docForm.get('email')?.hasError('email')">
                      Por favor ingrese un correo válido
                    </mat-error>
                    <mat-error *ngIf="docForm.get('email')?.hasError('minlength')">
                      Mínimo 5 caracteres
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <!-- Contraseña y Confirmar -->
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput formControlName="password" type="password" required />
                    <mat-error *ngIf="docForm.get('password')?.hasError('required')">
                      La contraseña es obligatoria
                    </mat-error>
                    <mat-error *ngIf="docForm.get('password')?.hasError('minlength')">
                      Mínimo 8 caracteres
                    </mat-error>
                    <mat-error *ngIf="docForm.get('password')?.hasError('pattern')">
                      Debe incluir mayúsculas, minúsculas, número y carácter especial, sin espacios
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Confirmar Contraseña</mat-label>
                    <input
                      matInput
                      formControlName="confirmPassword"
                      type="password"
                      required
                    />
                    <mat-error *ngIf="docForm.get('confirmPassword')?.hasError('required')">
                      Confirmar contraseña es requerido
                    </mat-error>
                    <mat-error *ngIf="docForm.hasError('passwordsMismatch')">
                      Las contraseñas no coinciden
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <!-- Botones -->
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button
                    class="btn-space"
                    mat-flat-button
                    color="accent"
                    [disabled]="docForm.invalid"
                  >
                    Guardar
                  </button>
                  <button type="button" mat-flat-button class="formCancelBtn">
                    Cancelar
                  </button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
